@use "global" as *;

.mv{
    width: 100%;
    &__img{
        width: 100%;
        height: auto;
        aspect-ratio: 1440 / 560;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.mv-bottom{
    width: 100%;
    &__bg{
        background-image: url(../img/industrial/mv-bottom-bg.webp);
        background-size: cover;
        background-position: center;
        padding-top: rem(100);
        padding-bottom: rem(120);
    }
    &__text{
        width: calc((1000px / 1440px)*100%);
        margin: 0 auto;
        line-height: 2;
        padding-top: rem(120);
    }
}

.mv-bottom-factory{
    padding-top: rem(60);
    padding-bottom: rem(80);
}

//　会社概要のmv

.mv-company{
    width: 100%;
    height: auto;
    padding-top: rem(250);
    margin-bottom: rem(120);

    &__img{
        width: 100%;
        height: auto;
        aspect-ratio: 1000 / 631;
        img{

            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.mv-company{
    .contents-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}